.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MemoComp CSS 스타일 */
@font-face {
  font-family: 'EF_watermelonSalad';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.memocomp {
  font-family: 'EF_watermelonSalad';
}

.memocomp ul {
  width: 500px;
  margin: auto;
}

.memocomp li {
  list-style: none;
  text-align: left;
}
.memocomp div input {
  border-radius: 20px;
  padding: 8px 10px;
  font-family: 'EF_watermelonSalad';
}

.memocomp div button {
  font-family: 'EF_watermelonSalad';
  margin-left: 5px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 8px 10px;
  background-color: #282c34;
  color: whitesmoke;
}

.memocomp div ul li:first-child {
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.memocomp div ul li {
  margin: 10px;
}